@page "/plant/{Name}"
@using Microsoft.AspNetCore.Authorization
@using BlazorApp.Models
@using BlazorApp.Services
@attribute [Authorize]
@inject PlantService PlantService
@inject NavigationManager NavigationManager

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-16">
    @if (plant == null) {
        <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
    } else {
        <MudPaper Elevation="4" Class="pa-8" Style="position: relative">
            <MudText Typo="Typo.h5" Class="mb-8" Color="Color.Secondary">@plant.Name</MudText>
            <MudText Typo="Typo.body1" Class="mb-6">@plant.Description</MudText>
            <MudText Typo="Typo.body1" Class="mb-4">@plant.Database</MudText>
            <MudText Typo="Typo.body1" Class="mb-4">@plant.DateCreated</MudText>
            <MudText Typo="Typo.body1" Class="mb-4">@plant.DateUpdated</MudText>
            <MudChip T="string" Class="mb-4" Color="@(plant.Enabled ? Color.Success : Color.Error)" Size="Size.Medium" Style="position: absolute; top: 32px; right:32px">
                @(plant.Enabled ? "Enabled" : "Disabled")
            </MudChip>

            <div class="d-flex flex-nowrap justify-end gap-1 mt-auto ms-auto mb-3 me-3" style="width: 90%; max-width: 100%; overflow-x: auto; overflow-y: auto; white-space: nowrap; ms-overflow-style: none; scrollbar-width: none;">
                @foreach (var user in plant.Users)
                {
                    <MudChip T="string" Size="Size.Medium" Color="Color.Secondary">
                        @user.UserName
                    </MudChip>
                }
            </div>
        </MudPaper>
    }
</MudContainer>

@code {
    [Parameter]
    public string Name { get; set; } = string.Empty;

    private Plant? plant;

    protected override async Task OnInitializedAsync() {
        string decodeName = Uri.UnescapeDataString(Name).Trim();
        plant = await PlantService.GetPlantByNameAsync(decodeName);
    }
}